<!-- <h1>{{userLogged}}</h1> -->
<button style="float: right;margin-right: 10px;" [routerLink]="" (click)="logout()">Log out</button>
<h2>Welcome Mr.{{customerFromUser}} {{customer}}</h2> 
<!-- <h2>{{ImageFromUser}}  {{images}}</h2> -->
<!-- <br> -->
<!-- <img src="{{ImageFromUser}} {{images}}"/> -->
 
<div class="gallery">
  <a>
    <img src="{{ImageFromUser}} {{images}}"  width="600" height="400">
  </a>

</div>

<div class="gallery">
  <a >
    <img src="{{Image2FromUser}} {{images2}}" width="600" height="400">
  </a>

</div>